@font-face {
  font-family: "PhantomMuff";
  src: url('PhantomMuff_Full_Letters_1.1.5.ttf');
}

:root {
  --head-profile-color: #282c34;
  --content-profile-color: #282c34;
  --tab-button-color: #475063;
  --text-profile-color: #ff7d7d;
  --row-profile-color: #362d3b;
  --row-profile-color-two: rgb(46, 40, 51);
  --border-color: transparent;

  --profile-sidebar-width: 150px;
  --content-width: 800px;
}

.davefont {
  font-family: 'PhantomMuff';
}

p, span, a, .SeamlessInput {
  font-family: 'PhantomMuff';
  overflow-wrap: anywhere;
}

/* h1, h2, h3, h4, h5, h6 {
  line-height: 20px;
} */

h2, h3 {
  overflow: hidden;
  text-align: center;
}

h2::before, h2::after {
  height: 3px;
}

h3::before, h3::after {
  height: 2px;
}

h3::before, h3::after {
  background-color: #646464;
  content: "";
  height: 2px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2::before, h3::before {
  right: 0.5em;
  margin-left: -50%;
}

h2::after, h3::after {
  left: 0.5em;
  margin-right: -50%;
}

p, .SeamlessInput {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.SeamlessInput {
  text-decoration: none;
  background: transparent;
  color: white;
}

img {
  border-radius: 10px;
}

a:hover {
  text-decoration: underline;
}

.TopContainer {
  background-color: #475063;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(153, 100, 65);
  display: flex;
  color: white;
  align-items: center;
  padding: 6px;
  padding-left: 7px;
  padding-right: 15px;
  transition: 0.1s;
}

.TopContainer:hover {
  scale: 1.02;
}

.TopContainer div {
  margin-left: 15px;
}

.LeaderContainer {
  background-color: #475063;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  animation: leader 5s infinite;
  display: flex;
  color: white;
}

@keyframes leader {
  0% {
    background-color: rgb(153, 100, 65);
  }
  
  50% {
    background-color: rgb(158, 59, 55);
  }

  100% {
    background-color: rgb(153, 100, 65);
  }
}

.LeaderContainer * {
  padding: 5px;
}

.Bar {
  /* background: var(--head-profile-color); */
  background-color: #141414;
  opacity: 0.9;
  width: 100%;
  display: flex;
  font-size: 25px;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  /* height: 40px; */
  height: 50px;
  transition: 0.2s;
  position: fixed;
  z-index: 9999;
  top: 0px;
}

.Bar:hover {
  opacity: 1.0;
  height: 60px;
}

.Bar > * {
  overflow-wrap: normal;
  margin-left: 20px;
  transition: 0.1s;
}

.TabButton {
  padding: 5px;
  color: white;
  background-color: #363636;
  /* background-color: var(--tab-button-color); */
  border-radius: 10px;
}

.Bar a:hover, .TabButton:hover {
  scale: 1.05;
}

.Bar #BarProfile {
  margin-right: 20px;
  max-height: 40px;
  display: flex;
  align-items: center;
  background: var(--head-profile-color);
}

.BarProfileText {
  white-space: pre;
  padding: 10px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.BarProfileText * {
  min-width: 100%;
}

.FlexRight {
  margin-left: auto;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#NotificationsIcon {
  padding-right: 20px;
  background: none;
  animation: blinkAnim infinite 1s;
}

@keyframes blinkAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.Avatar {
  width: calc(var(--profile-sidebar-width) - 10px);
  max-width: calc(var(--profile-sidebar-width) - 10px);

  height: calc(var(--profile-sidebar-width) - 10px);
  max-height: calc(var(--profile-sidebar-width) - 10px);

  border-radius: 20%;
}

.NetworkAvatar {
  min-width: 100px;
  max-width: 200px; /* way too cool to remove */

  height: 100px;
  max-height: 100px;
}

.SmallerAvatar {
  width: 50px;
  max-width: 50px;

  height: 50px;
  max-height: 50px;
}

.TopAvatar {
  width: 90px;
  max-width: 90px;

  height: 90px;
  max-height: 90px;

  border-radius: 20%;
}

.FrenAvatar {
  width: 30px;
  max-width: 30px;

  height: 30px;
  max-height: 30px;
  transition: 0.2s;
}

.FrenAvatar:hover {
  scale: 1.3;
}

.FrenBox {
  width: 95%;
  max-width: 95%;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: thin;
  padding-top: 5px;
  text-align: center;
}

.FrenBox * {
  margin-right: 2px;
  margin-bottom: 2px;
}

.BiggerText {
  font-size: 30px;
  line-height: 30px;
}

.BigText {
  font-size: 20px;
  line-height: 30px;
}

.SmallText {
  font-size: 14px;
  line-height: 10px;
  color: #808899;
}

.CumImage {
  max-height: 200px;
  max-width: 100%;
  text-align: center;
}

.CumBigImage {
  max-height: 350px;
  max-width: 100%;
  text-align: center;
}

.Downloads {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 5px;
}

.Downloads img {
  width: auto;
  height: 150px;
  filter: invert(80%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.Downloads a {
  color: aliceblue;
  border-radius: 10px;
  background-color: #121418;
  padding: 20px;
  max-width: 20%;
  transition: 0.2s;
}

.Downloads a:hover {
  scale: 1.1;
}

.Downloads p {
  font-size: 100%;
}

.Coolbox {
  background-color: #121418;
  border-radius: 20px;
  padding: 10px;
  color: white;
  max-width: fit-content;
  margin: 5px;
  transition: 0.1s;
}

.Coolbox:hover {
  scale: 1.1;
}

.Coolbox a {
  color: white;
}

.Downloads * :hover {
  text-decoration: underline;
}

.App {
  min-height: 100vh;
  color:white;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.Content {
  background: var(--content-profile-color);
  max-width: var(--content-width);
  min-width: 300px;
  display: flex;
  color: white;
  padding: 20px;
  margin: 90px;
  /* padding-left: 15px; */
  border-radius: 30px;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 3px;
  overflow: auto;

  margin-left: auto;
  margin-right: auto;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td > * {
  max-width: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.Comments {
  padding-top: 15px;
  text-align: left;
}

.Comment {
  background-color: #202329;
  max-width: 80%;
  display: flex;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
  overflow: auto;

  margin-left: auto;
  margin-right: auto;

  overflow-wrap: anywhere;
}

.Comment > * {
  padding: 4px;
}

#ProfileContent > div { /* ">" only includes the first child */
  width: calc(var(--content-width) - var(--profile-sidebar-width));
}

.Content > div { /* ">" only includes the first child */
  width: 100%;
}

.Sidebar {
  max-width: var(--profile-sidebar-width);
  float: left;
  width: 100%;
}

.AvatarButton {
  color: #ff4d6a;
  font-weight: bold;
}

.AvatarButton:hover {
  color: #ffb3c0;
  font-weight: bold;
  text-decoration: underline;
}

.Bottom {
  display: inline-block;
  align-self: flex-end;
}

.CenterFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Main {
  text-align: center;
}

.Contents table {
  width: 100%;
}

.VerticalLine {
  border-right: 3px solid #121418;
  height: 100%;
  max-width: 1px;
}

.NameContainer {
  display: flex;
  width: calc(var(--profile-sidebar-width) - 10px);
  text-align: center;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

.NameContainer * {
  padding-left: 3px;
  padding-right: 3px;
}

.AvatarCaption {
  font-size: 120%;
  font-weight: bold;
}

.SmallFlag {
  border-radius: 3px;
  height: 18px;
  max-width: 26px;
}

.BiggerFlag {
  border-radius: 3px;
  height: 25px;
  max-width: 38px;
}

.BiggerClubBanner {
  border-radius: 3px;
  height: 80px;
}

.ProfileInfo {
  padding-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: var(--text-profile-color);
  text-decoration: none;
}

table {
  background: var(--row-profile-color-two);
}

tbody tr:nth-child(odd) {
  background: var(--row-profile-color);
}

tbody tr:nth-child(even) {
  background: var(--row-profile-color-two);
}

.SvgButton {
  border: none;
  border-radius: 10px;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: rgb(218, 206, 206);
  margin-right: 5px;
}

.SvgButton:hover {
  background-color: white;
}

.UserBio {
  max-height: 200px;
  max-width: 100%;
  overflow: auto;
  font-family: 'PhantomMuff';
}

.SvgNoButton {
  border: none;
  background-color: transparent;
}

.SvgNoButton :hover {
  cursor: pointer;
}

#ProfileColorSlider, #ProfileColorSlider2 {
  margin-top: 10px;
  width: 90%;
}

#BioEditor {
  color: white;
}

.PixelImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.ProfileRow1 {
  background: var(--row-profile-color);
}

.ProfileRow2 {
  background: var(--row-profile-color-two);
}

.popup-overlay {
  background-color: #00000094;
}

select {
  max-width: 100%;
}

.Over {
  display: inline-block;
  position: relative;
  max-width: calc(var(--profile-sidebar-width) - 10px);;
  max-height: calc(var(--profile-sidebar-width) - 10px);;
}

.OverFloat {
  position: absolute;
  background-color: #c5c5c567;
  width: 100%;
  height: 100%;

  border-radius: 20%;
}

.WholeCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.WholeCenter * {
  line-height: 25px;
  border-radius: 20px;
  padding: 5px;
  color: #ffea72;
  background-color: #000000c4;
}

.OverFloat:hover {
  background-color: #9b9b9ba8;
  text-decoration: underline;
  cursor: pointer;
}

.TopClubBanner {
  height: 90px;
}

li, dt, dd {
  text-align: left;
}