# THIS IS A SAMPLE ENV CONFIGURATION FILE, CHANGE IT'S NAME TO .env FOR CHANGES TO TAKE EFFECT

# ----------------------
#      Game Server
# ----------------------
# the port of the game server, the default is 2567 (set by colyseus)
PORT=2567

# uncomment this if you want to enable the server stats via the website
#STATS_ENABLED=true

# uncomment this to disable the ip limit for joining
#DISABLE_IP_LOCK=true

# ----------------------
#    Funkin Network
# ----------------------

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# uncomment this if you want to self-host the rankings network
#NETWORK_ENABLED=true

# the url for your database, change all mentions of "user", "password", "host", and "port" to actual values
#DATABASE_URL="mongodb://user:password@host:port/funkin?authSource=user"

# users (ID's) that should be granted moderator role (separated by space)
#GRANT_MODS=""

# gmail stuff, use your own credentials
#GMAIL_ID="example@gmail.com"
#GMAIL_PASSWORD="xxxx xxxx xxxx xxxx"