# loosely based on luckperms (i love lp smm <33333)

[[users]]
name = "Snirozu"
role = "Admin"

[[roles]]
# basically a root user
name = "Admin"
priority = 9999
access = [
    '*'
]


[[roles]]
# manages users and clubs
name = "Moderator"
priority = 2
access = [
    '/api/admin/user/set/email',
    '/api/admin/user/ban',
    '/api/admin/user/warn',
    '/api/admin/user/warn/delete',
    '/api/admin/user/grant',
    '/api/admin/user/rename',
    '/api/admin/user/notify',
    '/api/admin/players',
    '/api/admin/club/delete',
    '/api/admin/club/rename',
    '/api/admin/logs',
    '/api/admin/logs/process',
    '/api/admin/user/delete',
    'command.announce',
    'admin.club.edit'
]
extends = 'Helper'


[[roles]]
# manages scores and player reports
name = "Helper"
priority = 1
access = [
    '/api/admin/score/delete',
    '/api/admin/report/*',
    '/admin',
]
extends = 'Member'


[[roles]]
name = "Member"
priority = 0
default = true
access = [
    '/api/sez',
    '/api/account/*',
    '/api/song/*',
    '/api/score/*',
    '/api/user/*',
    '/api/club/*',
    'room.auth',
]


[[roles]]
name = "Banned"
priority = -1
access = []
